@import "../../styles/variables.scss";

.kedao-media-toolbar {
  position: absolute;
  z-index: 3;
  bottom: 15px;
  left: 50%;
  width: auto;
  background-color: $COLOR_DARK;
  border-radius: 2px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  transform: translateX(-50%);
  box-shadow: 0 5px 15px rgba(#000, 0.2);
  user-select: none;

  a {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    color: rgba(#fff, 0.5);
    font-size: 18px;
    font-weight: normal;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &.active {
      color: $COLOR_ACTIVE;
    }
  }
}
