.kedao-table-dropdown-control {
  display: flex;
  padding: 10px;

  .label {
    width: 30px;
    color: #999;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }

  .input {
    width: 100px;
    height: 30px;
    padding: 0 10px;
    background-color: rgba(#fff, 0.07);
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.1);
    color: #fff;
    font-weight: bold;

    &:hover {
      box-shadow: inset 0 0 0 1px rgba(#07a9fe, 0.5);
    }

    &:focus {
      box-shadow: inset 0 0 0 1px rgba(#07a9fe, 1);
    }
  }

  .button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
  }
}

.kedao-table-container {
  position: relative;
  margin: 0 0 0 -10px;
  padding: 10px 0 10px 10px;

  .kedao-table-col-tools,
  .kedao-table-row-tools {
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    background-color: #f1f5f9;
    cursor: default;
    opacity: 0;

    &[data-active="true"],
    &:hover {
      opacity: 1;
    }

    &:hover {
      z-index: 4;
    }
  }

  .kedao-table-col-tools {
    top: 0;
    right: 0;
    left: 10px;
    height: 8px;
    line-height: 0;
    white-space: nowrap;

    &.resizing {
      opacity: 1;

      .kedao-col-tool-handler {
        background-color: #f1f5f9;
      }

      .kedao-col-resizer.active {
        background-color: #07a9fe;
      }

      .kedao-col-tool-left,
      .kedao-col-tool-right {
        display: none;
      }
    }
  }

  .kedao-table-row-tools {
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 8px;
  }

  .kedao-col-tool-handler,
  .kedao-row-tool-handler {
    position: relative;
    box-sizing: border-box;
    background-color: #f1f5f9;
    cursor: pointer;

    &:hover {
      background-color: #e1e5e9;
    }

    &[data-active="true"] {
      background-color: #07a9fe;

      .kedao-col-tool-left,
      .kedao-col-tool-right,
      .kedao-row-tool-up,
      .kedao-row-tool-down {
        display: none;
      }

      .kedao-col-tool-center,
      .kedao-row-tool-center {
        display: block;
      }
    }
  }

  .kedao-col-tool-handler {
    display: inline-block;
    height: 8px;
    line-height: 0;
    font-size: 0;
    border-left: 1px solid #e1e5e9;

    &:first-child {
      border-left: none;
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &:first-child:last-child {
      border-radius: 3px;
    }
  }

  .kedao-col-resizer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -2px;
    width: 4px;
    height: 8px;
    cursor: col-resize;

    &:hover {
      background-color: #07a9fe;
    }
  }

  .kedao-row-tool-handler {
    border-top: 1px solid #e1e5e9;

    &:first-child {
      border-top: none;
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    &:first-child:last-child {
      border-radius: 3px;
    }
  }

  .kedao-col-tool-left,
  .kedao-col-tool-right {
    float: left;
    position: relative;
    width: 50%;
    height: 8px;

    &:hover {
      .kedao-insert-col-before,
      .kedao-insert-col-after {
        display: block;
      }
    }
  }

  .kedao-row-tool-up,
  .kedao-row-tool-down {
    position: relative;
    height: 50%;

    &:hover {
      .kedao-insert-row-before,
      .kedao-insert-row-after {
        display: block;
      }
    }
  }

  .kedao-col-tool-center,
  .kedao-row-tool-center {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {
      .kedao-remove-col,
      .kedao-remove-row {
        display: block;
      }
    }
  }

  .kedao-insert-col-before,
  .kedao-insert-col-after,
  .kedao-insert-row-before,
  .kedao-insert-row-after,
  .kedao-remove-col,
  .kedao-remove-row {
    display: none;
    box-sizing: content-box;
    position: absolute;
    color: #21242a;

    &::before {
      position: absolute;
      border: 4px solid transparent;
      content: "";
    }

    &:hover {
      color: #07a9fe;
    }

    i {
      display: block;
      width: 20px;
      height: 20px;
      color: inherit;
      background-color: currentcolor;
      border-radius: 3px;
      box-shadow: 0 2px 5px rgba(#000, 0.1);
      pointer-events: none;

      &::before {
        display: block;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .kedao-insert-col-before,
  .kedao-insert-col-after,
  .kedao-remove-col {
    bottom: -25px;
    padding-top: 5px;

    &::before {
      left: 6px;
      top: -1px;
      border-bottom-color: currentcolor;
    }
  }

  .kedao-insert-row-before,
  .kedao-insert-row-after,
  .kedao-remove-row {
    right: -25px;
    padding-left: 5px;

    &::before {
      top: 6px;
      left: -1px;
      border-right-color: currentcolor;
    }
  }

  .kedao-insert-col-before {
    left: -10px;
  }

  .kedao-insert-col-after {
    right: -10px;
  }

  .kedao-remove-col {
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      color: #e74c3c;
    }
  }

  .kedao-insert-row-before {
    top: -10px;
  }

  .kedao-insert-row-after {
    bottom: -10px;
  }

  .kedao-remove-row {
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: #e74c3c;
    }
  }

  .dragging-rect {
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    background-color: rgba(#07a9fe, 0.2);
    pointer-events: none;
  }

  .kedao-table-context-menu {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    width: 150px;
    overflow: hidden;
    background-color: #21242a;
    border-radius: 3px;
    box-shadow: 0 5px 25px rgba(#000, 0.2);
    user-select: none;
    cursor: default;

    .context-menu-item {
      padding: 0 15px;
      border-top: 1px solid #31343a;
      line-height: 38px;
      color: #919599;
      font-size: 14px;
      cursor: pointer;

      &:first-child {
        border: none;
      }

      &[data-disabled="true"] {
        cursor: not-allowed;
        color: #414549;
      }

      &:hover {
        background-color: rgba(#000, 0.3);
      }
    }
  }

  .kedao-table {
    width: 100%;
    table-layout: fixed;
    border-style: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #07a9fe;
    border-width: 0.5px;

    &.dragging {
      tbody .kedao-table-cell {
        cursor: default !important;
      }
    }

    tbody {
      tr:empty {
        padding: 10px;
      }

      .kedao-table-cell {
        background-color: #fff;
        border: 1px solid #c5c5c5;
        border-width: 0.5px;
        overflow: visible;
        cursor: text;

        &[data-is-head="true"] {
          background-color: #fafafa;
          font-weight: bold;
        }

        &[data-active="true"] {
          position: relative;

          &::before {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            border: 1px solid #07a9fe;
            border-width: 0.5px;
            content: "";
          }
        }

        & > div {
          padding: 10px 15px;
        }
      }
    }
  }
}
